<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{{ url_for('static', filename='images/tandia_icon.png') }}" type="image/x-icon">
  <title>Lista de Clientes</title>
</head>

<body>
  {% include 'operaciones/headerSupport.html' %}

  <div class="header">
    <form id="search-form" method="POST" action="/support">
      <input type="text" id="search-input" name="ruc" placeholder="Buscar por RUC...">
      <button type="submit">Buscar</button>
    </form>
  </div>

  <div class="table-container">
    <table class="clientes">
      <thead>
        <tr>
          <th>Contrato</th>
          <th>Ruc</th>
          <th>Razón Social</th>
          <th>Plan</th>
          <th>Tiendas</th>
          <th>Usuarios</th>
          <th>Correo Soporte</th>
          <th>Contraseña</th>
          <th>I. Contrato</th>
          <th>F. Contrato</th>
          <th>FE</th>
          <th>US</th>
          <th>Contraseña</th>
          <th>Link CD</th>
          <th>Contraseña</th>
          <th>Vencimiento</th>
        </tr>
      </thead>
      <tbody>
        {% for cliente in lista_clientes %}
        <tr>
          <td>{{ cliente[40] }}</td>
          <td>{{ cliente[3] }}</td>
          <td>{{ cliente[5] }}</td>
          <td>{{ cliente[16] }}</td>
          <td>{{ cliente[18] }}</td>
          <td>{{ cliente[20] }}</td>
          <td>{{ cliente[60] }}</td>
          <td>{{ cliente[61] }}</td>
          <td>{{ cliente[31] }}</td>
          <td>{{ cliente[32] }}</td>

          {% if cliente[23] == 0 %}
          <td class="red-false"> Sí </td>
          {% else %}
          <td class="green-true"> No </td>
          {% endif%}


          <td>{{ cliente[49] }}</td>
          <td>{{ cliente[50] }}</td>
          <td>{{ cliente[51] }}</td>
          <td>{{ cliente[52] }}</td>
          <td>{{ cliente[53] }}</td>
          {% endfor %}
      </tbody>
    </table>
    <div class="pagination">
      <button id="prevPage"><i class="fa-solid fa-backward"></i></button>
      <button id="prevPageNumber">0</button>
      <button id="currentPage">1</button>
      <button id="nextPageNumber">2</button>
      <button id="nextPage"><i class="fa-solid fa-forward"></i></button>
    </div>
  </div>

  {% include 'operaciones/footer.html' %}
</body>

</html>