<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nuevo Extra</title>
</head>

<body>
  {% include 'ventas/headerSale.html' %}

  <div class="conteiner-new">

    <div class="inf-conteiner-newClient">

      <div class="titulo-newCliente">
        <p>Información del Cliente</p>
      </div>

      <div class="conteiner-infoNewClient">

        <div class="newInput-container">
          <label class="label-overlay">Motivo</label>
          <select class="styled-input" name="motivo">
            <option value="Cierre en Campo">NUEVA VENTAS</option>
            <option value="Cierre Virtual">CAMBIO DE EQUIPO</option>
          </select>
        </div>

        <div class="newInput-container">
          <label class="label-overlay">Ruc</label>
          <input class="styled-input" type="text" id="dato" name="dato" placeholder="Ruc" required>
        </div>

        <div class="newInput-container">
          <label class="label-overlay">Razón Social</label>
          <input class="styled-input" type="text" id="razonS" name="razonS" placeholder="Razón Social" required>
        </div>

        <div class="newInput-container">
          <label class="label-overlay">Rubro</label>
          <select class="styled-input" name="rubro">
            <option value="Market">Market</option>
            <option value="Ferreteria">Ferreteria</option>
            <option value="Farmacia">Farmacia</option>
            <option value="Restaurante">Restaurante</option>
            <option value="Librería">Librería</option>
            <option value="Panadería">Panadería</option>
            <option value="Servicios Varios">Servicios Varios</option>
            <option value="Otros">Otros</option>
          </select>
        </div>

        <div class="newInput-container">
          <label class="label-overlay">Nro de Documento</label>
          <input class="styled-input" type="text" id="nroDoc" name="nroDoc" placeholder="Nro de Documento" required>
        </div>

        <div class="newInput-container">
          <label class="label-overlay">Representante Legal</label>
          <input class="styled-input" type="text" id="repL" name="repL" placeholder="Representante Legal" required>
        </div>

        <div class="newInput-container">
          <label class="label-overlay">Departamento</label>
          <select class="styled-input" name="departamento">
            <option value="Amazonas">Amazonas</option>
            <option value="Ancash">Ancash</option>
            <option value="Apurimac">Apurimac</option>
            <option value="Arequipa">Arequipa</option>
            <option value="Ayacucho">Ayacucho</option>
            <option value="Cajamarca">Cajamarca</option>
            <option value="Callao">Callao</option>
            <option value="Cusco">Cusco</option>
            <option value="Huancavelica">Huancavelica</option>
            <option value="Huanuco">Huanuco</option>
            <option value="Ica">Ica</option>
            <option value="Junin">Junin</option>
            <option value="La Libertad">La Libertad</option>
            <option value="Lambayeque">Lambayeque</option>
            <option value="Lima">Lima</option>
            <option value="Loreto">Loreto</option>
            <option value="Madre de Dios">Madre de Dios</option>
            <option value="Moquegua">Moquegua</option>
            <option value="Pasco">Pasco</option>
            <option value="Piura">Piura</option>
            <option value="Puno">Puno</option>
            <option value="San Martin">San Martin</option>
            <option value="Tacna">Tacna</option>
            <option value="Tumbes">Tumbes</option>
            <option value="Ucayali">Ucayali</option>
          </select>
        </div>

        <div class="newInput-container">
          <label class="label-overlay">Dirección Fiscal</label>
          <input class="styled-input" type="text" id="dirF" name="dirF" placeholder="Dirección Fiscal" required>
        </div>

        <div class="newInput-container">
          <label class="label-overlay">Nombre del Cliente</label>
          <input class="styled-input" type="text" id="nameClient" name="nameClient" placeholder="Nombre del Cliente"
            required>
        </div>

        <div class="newInput-container">
          <label class="label-overlay">Correo del Cliente</label>
          <input class="styled-input" type="email" id="emailClient" name="emailClient" placeholder="Correo del Cliente"
            required>
        </div>

        <div class="newInput-container">
          <label class="label-overlay">Numero del Cliente</label>
          <input class="styled-input" type="text" id="numClient" name="numClient" placeholder="Numero del Cliente"
            required>
        </div>

        <div class="newInput-container">
          <label class="label-overlay">Implementador</label>
          <span class="styled-input">¿Implementador es el cliente?<input class="checkbox" type="checkbox"
              id="implementadorCheckbox" onchange="habilitarSecciones()" /><label class="label-checkbox"
              for="implementadorCheckbox">Toggle</label></span>
        </div>

        <div class="seccion-implementador" style="display: none;">
          <div class="newInput-container">
            <label class="label-overlay">Nombre del Implementador</label>
            <input class="styled-input" type="text" id="nomImp" name="nomImp" placeholder="Nombre del Implementador"
              required>
          </div>
        </div>

        <div class="seccion-implementador" style="display: none;">
          <div class="newInput-container">
            <label class="label-overlay">Correo del Implementador</label>
            <input class="styled-input" type="text" id="emailImp" name="emailImp" placeholder="Correo del Implementador"
              required>
          </div>
        </div>

        <div class="seccion-implementador" style="display: none;">
          <div class="newInput-container">
            <label class="label-overlay">Numero del Implementador</label>
            <input class="styled-input" type="text" id="numImp" name="numImp" placeholder="Numero del Implementador"
              required>
          </div>
        </div>

      </div>

      <div class="titulo-newCliente">
        <p>Información del Plan</p>
      </div>

      <div class="conteiner-infoNewClient conteiner-infoNewClient-five">

        <div class="newInput-container">
          <label class="label-overlay">Tipo de Plan</label>
          <select class="styled-input" name="plan">
            <option value="TANDIA - PLAN FULL">TANDIA - PLAN FULL</option>
            <option value="TANDIA - PLAN PYME">TANDIA - PLAN PYME</option>
            <option value="TANDIA - PLAN FACTURADOR">TANDIA - PLAN FACTURADOR</option>
          </select>
        </div>

        <div class="newInput-container">
          <label class="label-overlay">Vigencia</label>
          <select class="styled-input" name="vigencia">
            <option value="ANUAL">ANUAL</option>
            <option value="SEMESTRAL">SEMESTRAL</option>
            <option value="TRIMESTRAL">TRIMESTRAL</option>
            <option value="MENSUAL">MENSUAL</option>
          </select>
        </div>

        <div class="newInput-container">
          <label class="label-overlay">Nro de Tiendas</label>
          <select class="styled-input" name="tiendas">
            <option value="1">1 TIENDA</option>
            <option value="2">2 TIENDAS</option>
            <option value="3">3 TIENDAS</option>
          </select>
        </div>

        <div class="newInput-container">
          <label class="label-overlay">Nro Usuarios</label>
          <select class="styled-input" name="usuarios">
            <option value="2">2 USUARIOS</option>
            <option value="5">5 USUARIOS</option>
            <option value="999">USUARIOS ILIMITADOS</option>
          </select>
        </div>

        <div class="newInput-container">
          <label class="label-overlay">Contrato</label>
          <input class="styled-input" type="text" id="contratoL" name="contratoL" placeholder="Link del Contrato"
            required>
        </div>

        <div class="newInput-container">
          <label class="label-overlay">Monto Inicial del Plan</label>
          <input class="styled-input" type="text" id="montoInicial" name="montoInicial"
            placeholder="Monto Inicial del Plan" required>
        </div>

        <div class="newInput-container">
          <label class="label-overlay">Monto Pendiente</label>
          <input class="styled-input" type="text" id="montoPendiente" name="montoPendiente"
            placeholder="Monto Pendiente" required>
        </div>

        <div class="newInput-container">
          <label class="label-overlay">Monto a Renovar</label>
          <input class="styled-input" type="text" id="montoRenovar" name="montoRenovar" placeholder="Monto a Renovar"
            required>
        </div>

        <div class="newInput-container">
          <label class="label-overlay">Nro de Factura</label>
          <input class="styled-input" type="text" id="nroFac" name="nroFac" placeholder="Nro de Factura" required>
        </div>

        <div class="newInput-container">
          <label class="label-overlay">Fecha de Pago</label>
          <input class="styled-input" type="date" id="datePago" name="datePago" required>
        </div>

      </div>

      <div class="titulo-newCliente">
        <p>Información para Implementación</p>
      </div>

      <div class="conteiner-infoNewClient">

        <div class="newInput-container">
          <label class="label-overlay">Tiendas a Configurar</label>
          <input class="styled-input" type="text" id="nroTiendas" name="nroTiendas" placeholder="Tiendas a Configurar"
            required>
        </div>

        <div class="newInput-container">
          <label class="label-overlay">Usuarios a Configurar</label>
          <input class="styled-input" type="text" id="nroUsuarios" name="nroUsuarios"
            placeholder="Usuarios a Configurar" required>
        </div>

        <div class="newInput-container">
          <label class="label-overlay">Fecha de Inicio</label>
          <input class="styled-input" type="date" id="dateInicio" name="dateInicio" required>
        </div>


        <div class="newInput-container">
          <label class="label-overlay">Fecha de Fin</label>
          <input class="styled-input" type="date" id="dateFin" name="dateFin" required>
        </div>


      </div>

      <div class="conteiner-infoNewClient conteiner-infoNewClient-three">

        <div class="newInput-container">
          <label class="label-overlay">¿Facturación Electronica?</label>
          <span class="styled-input">¿Facturación Electronica?<input class="checkbox" type="checkbox"
              id="FE" name="FE"/><label class="label-checkbox" for="FE">-</label></span>
        </div>

        <div class="newInput-container">
          <label class="label-overlay">¿Guias de Remisión?</label>
          <span class="styled-input">¿Guias de Remisión?<input class="checkbox" type="checkbox"
              id="GDR" name="GDR"/><label class="label-checkbox" for="GDR">-</label></span>
        </div>

        <div class="newInput-container">
          <label class="label-overlay">¿Tandia Comprará CD?</label>
          <span class="styled-input">¿Tandia Comprará CD?<input class="checkbox" type="checkbox"
              id="tandiaCD" name="tandiaCD"/><label class="label-checkbox" for="tandiaCD">-</label></span>
        </div>

      </div>

      <div class="titulo-newCliente">
        <p>Comentarios</p>
      </div>

      <div class="conteiner-infoNewClient conteiner-infoNewClient-two">

        <div class="newInput-container">
          <label class="label-overlay">Comentario para Implementación</label>
          <input class="styled-input" type="text" id="comentE" name="comentE" placeholder="Comentario para Implementación" required>
        </div>

        <div class="newInput-container">
          <label class="label-overlay">Comentario de Comercial</label>
          <input class="styled-input" type="text" id="comentC" name="comentC" placeholder="Comentario de Comercial" required>
        </div>

      </div>

    </div>
  </div>

  {% include 'ventas/footer.html' %}
</body>

</html>